<form method="post" action="{{ path('app_trick_controller_delete', {'id': trick.id}) }}"
      onsubmit="return confirm('Etes vous sure de vouloir effacer la figure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="btn btn-primary mb-2">Effacer la figure</button>
</form>
