{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Editer la figure</h1>

        {{ include('trick_controller_edit/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

        <a href="{{ path('app_home') }}">Retour a l'accueil</a>

        {{ include('trick_controller_edit/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/medias.js') }}" defer></script>
{% endblock %}