{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <h1>Create new Trick</h1>

    {{ include('trick_controller_edit/_form.html.twig') }}

    <a href="{{ path('app_trick_controller_edit_index') }}">back to list</a>
{% endblock %}
