{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-3">Enregistrer un nouveau Trick</h1>

        {{ include('trick_controller_edit/_form.html.twig') }}

        <a class="btn btn-primary mb-2" href="{{ path('app_home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
