{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Enregistrer un nouveau Trick</h1>

        {{ include('trick_controller_edit/_form.html.twig') }}

        <a href="{{ path('app_trick_controller_index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
